.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}
.block {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  z-index: 1;
  left: 200px;
  top: 0;
  transition: top 1.5s;
}

.hidden {
  position: absolute;
  transition: top 1.5s;
  top: -30%;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* .block1 {
  left: 0;
  background-color: red;
}
.block2 {
  left: 70px;
  top: 70px;
  background-color: orange;
}
.block3 {
  left: 140px;
  top: 140px;
  background-color: yellow;
} */

.sumPrice {
  text-align: center;
  font-size: 40px;
}

table td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  margin: 7px;
  display: inline-block;
}

.paints {
  color: blue;
}

/* .hidden {
  display: none;
} */
.change {
  text-decoration: line-through;
}

.submenu {
  display: none;
}
